<section id="creation-list">

    {% for creation in site.creation %}
    <div style="background-color:#447291;color:white;text-align: center;padding: 4em 2em;">
        <h2 class="creation-list-headline" style="color:white" id="creation-list-headline">{{ creation.headline }}</h2>
        <div class="creation-list-wrapper" style="padding-left:4em;padding-right:4em;">
            <p>{{ creation.text }}</p>
            <div class="creation_wrapper">
                <img class="creation_icon" src="{{ '/uploads/2019/03/16/Icon_Dock18_Bohne_Zeichenfläche_1.svg' | relative_url }}" />
                <img class="creation_icon" src="{{ '/uploads/2019/03/16/Icon_Dock18_Wasser_Zeichenfläche_1.svg' | relative_url }}" />
                <img class="creation_icon" src="{{ '/uploads/2019/03/16/Icon_Dock18_Zeit_Zeichenfläche_1.svg' | relative_url }}" />
                <span class="creation_plus">+</span>
                <img class="creation_icon nitro" src="{{ '/uploads/2019/03/16/Icon_Dock18_Nitro_Zeichenfläche_1.svg' | relative_url }}" />
                <span class="creation_equals">=</span>
                <img class="creation_icon result bigger" src="{{ '/uploads/2019/03/16/Icon_Dock18_NitroDose_Zeichenfläche_1.svg' | relative_url }}" />

            </div>
        </div>
    </div>
    {% endfor %}
</section>