<section class="text-banner-list">
    <div class="text-banner-list-wrapper">
        {% for textbanner in site.events %}
        {% assign remainder = forloop.index | modulo: 2 %}
        <div class="wrapper">
            {% if remainder == 1 %}
            <!--  data-aos="fade-right"-->
          <figure class="text-banner" data-aos="fade-up"
                    data-aos-offset="200"
                    data-aos-delay="10"
                    data-aos-duration="500"
                    data-aos-easing="ease-in-out"
                    data-aos-mirror="false"
                    data-aos-once="false"
                    data-aos-anchor-placement="top-right">
                <img class="event-image orbit-image tns-lazy-img" src="{{ site.cloudinary_url | append: '/c_pad,h_500,q_auto' | append: textbanner.image }}"
                     alt="{{ textbanner.alt }}">
            </figure>
            {% endif %}
            <div class="textbanner-block" data-aos="fade-up"
                 data-aos-offset="200"
                 data-aos-delay="10"
                 data-aos-duration="500"
                 data-aos-easing="ease-in-out"
                 data-aos-mirror="false"
                 data-aos-once="false"
                 data-aos-anchor-placement="centers-center">
                <div class="events-text">
                    <h2>{{ textbanner.headline }}</h2>
                    <span>{{ textbanner.text }}</span>
                    {% if textbanner.link %}
                    <div class="texbanner-button" style="{% if remainder == 1 %}float: right;margin-right: 1em;{% endif %}
            {% if remainder == 0 %}float: left;margin-left: 1em;
            {% endif %}margin-top: 4em;">
                        <div>
                            <a class="more-events" href="{{ textbanner.url | relative_url }}"><span>{{ textbanner.linktext}}</span></a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if remainder == 0 %}
            <!-- data-aos="fade-left" -->
            <figure class="text-banner" data-aos="fade-up"
                    data-aos-offset="200"
                    data-aos-delay="10"
                    data-aos-duration="500"
                    data-aos-easing="ease-in-out"
                    data-aos-mirror="false"
                    data-aos-once="false"
                    data-aos-anchor-placement="top-left">
                <img class="event-image orbit-image tns-lazy-img" src="{{ site.cloudinary_url | append: '/c_pad,h_500,q_auto' | append: textbanner.image }}"
                     alt="{{ textbanner.alt }}">
            </figure>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>