<footer id="footer">
    <div class="row gtr-50 gtr-uniform">
        <div class="col-3 col-6-small">
            <strong class="footer-headline">{{ site.data.footer.addressHeadline }}</strong><br/>
            <p>{{ site.data.footer.addressContent | newline_to_br  }}</p>
        </div>
        <div class="col-3 col-6-small">
            <strong class="footer-headline">{{ site.data.footer.contactHeadline }}</strong><br/>
            <p>{{ site.data.footer.contactContent | newline_to_br  }}</p>
        </div>
        <div class="col-3 col-6-small">
            <strong class="footer-headline">{{ site.data.footer.socialHeadline }}</strong><br/>

            <a href="{{ site.data.socialmedia.facebookLink }}"><img class="facebook-logo" src="{{  site.cloudinary_url | append: '/c_pad,h_40,q_auto' | append: site.data.socialmedia.facebookImage }}"
                                                                            alt="Facebook Logo"></a>
            <a href="{{ site.data.socialmedia.instagramLink }}"><img class="instagram-logo" src="{{  site.cloudinary_url | append: '/c_pad,h_38,q_auto' | append: site.data.socialmedia.instagramImage }}"
                                                                              alt="Instagram Logo"></a>
        </div>
        <div class="col-3 col-6-small">
            <strong class="footer-headline">{{ site.data.footer.privacyHeadline }}</strong><br/>
            <a href="/datenschutz"><span class="label">Datenschutz</span></a>
            <a href="/impressum"><span class="label">Impressum</span></a>
        </div>
    </div>
    <ul class="copyright">
        <li>&copy; Rapide Food GmbH</li>
    </ul>
</footer>
<link rel="stylesheet" href='{{ "/dist/landingPage.css" }}'/>
<!-- Scripts -->
<script src='{{ "/dist/landingPage.bundle.js" }}'></script>

</body>