<section id="fullscreen-image-slider">
    <div class="fullscreen-image-slider">
        <div class="orbit" role="region" aria-label="FullScreen Pictures" data-orbit>
            <div class="my-slider">
                {% for banner in site.banners %}
                <div>
                    <figure>
                        <img class="orbit-image" src="{{ banner.image | relative_url }}" alt="{{ banner.alt }}">
                        {% if banner.description %}
                        <figcaption class="orbit-caption">
                            <h1>{{ banner.description }}</h1>
                        </figcaption>
                        {% endif %}
                    </figure>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>