<header id="header">
    <div class="dock-18-header">
        <div class="header-wrapper">
            <a href="/"><img class="header-logo" src="/img/Landingpage_Dock18_Logo_White.svg"
                             alt="Dock18 Logo"></a>
        </div>
    </div>
    <nav id="nav">
        <ul>
            <li class="special">
                <a href="#menu" class="menuToggle"><span>&nbsp;</span></a>
                <div id="menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/datenschutz">Datenschutz</a></li>
                        <li><a href="/impressum">Impressum</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</header>