<header id="header">
    <div class="dock-18-header">
        <div class="header-wrapper">
            <a href="/"><img class="header-logo" src="{{ '/img/LOGO_DOck18_SW.png' | relative_url }}"
                             alt="Dock18 Logo"></a>
            <a href="/"><img class="facebook-logo" src="{{ '/img/Facebook_Logo.png' | relative_url }}"
                             alt="Facebook Logo"></a>
            <a href="/"><img class="instagram-logo" src="{{ '/img/Instagram.png' | relative_url }}"
                             alt="Instagram Logo"></a>
        </div>
    </div>
    <nav id="nav">
        <ul>
            <li class="special">
                <a href="#menu" class="menuToggle"><span>&nbsp;</span></a>
                <div id="menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/datenschutz">Datenschutz</a></li>
                        <li><a href="/impressum">Impressum</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</header>