<header id="header">
    <div class="dock-18-header">
        <div class="header-wrapper">
            <a href="/"><img class="header-logo" src="{{ site.cloudinary_url | append: '/c_pad,h_100,q_auto' | append: '/img/LOGO_DOck18_SW_hshbb3.png' }}"
                             alt="Dock18 Logo"></a>
            <a href="http://facebook.com/dock18coffee/"><img class="facebook-logo" src="{{  site.cloudinary_url | append: '/c_pad,h_100,q_auto' | append: '/img/Facebook_Logo_ydfy4i.png'}}"
                             alt="Facebook Logo"></a>
            <a href="https://instagram.com/dock18coffee/"><img class="instagram-logo" src="{{  site.cloudinary_url | append: '/c_pad,h_100,q_auto' | append: '/img/Instagram_jexsmc.png'}}"
                             alt="Instagram Logo"></a>
        </div>
    </div>
    <nav id="nav">
        <ul>
            <li class="special">
                <a href="#menu" class="menuToggle"><span>&nbsp;</span></a>
                <div id="menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Produkte</li>
                        {% assign items = site.products | sort: 'position' %}
                        {% for product in items %}
                        {% if product.productlink and product.deactivated != true %}
                        <li><a style="font-size: x-small;padding-left: 12px;" href="{{ product.url }}" class="{{ product.type }}">{{ product.producttext }}</a></li>
                        {% endif %}
                        {% endfor %}
                        <li>Blog</li>
                        {% assign items = site.events | sort: 'position' %}
                        {% for textbanner in items %}
                        <li><a style="font-size: x-small;padding-left: 12px;" href="{{ textbanner.url | relative_url }}">{{ textbanner.headline }}</a></li>
                        {% endfor %}
                        <li><a href="/datenschutz">Datenschutz</a></li>
                        <li><a href="/impressum">Impressum</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</header>