<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <img src="{{ page.banner_image | absolute_url }}" alt="Logo" style="height: 34vh;" />
            <p>{{ page.heading }}</p>
            <h2><a href="{{page.hero_button.href}}" style="border-bottom: 0;">{{page.hero_button.text}}</a></h2>
        </div>
    </section>

</div>

<!-- Scripts -->
<script src='{{ "/dist/landingPage.bundle.js" | absolute_url }}'></script>

</body>