<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <img src="{{ page.banner_image | absolute_url }}" alt="Logo" style="height: 34vh;" />
            <p>Something big is coming in December...</p>
            <h2><a href="mailto:info@rapidefood.com" style="border-bottom: 0;">Contact</a></h2>
        </div>
    </section>

</div>

<!-- Scripts -->
<script src='{{ "/dist/landingPage.bundle.js" | absolute_url }}'></script>

</body>