<div id="page-wrapper">
    <section id="logo-banner">
        <div class="inner">
            <div style="    width: 25vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;">
                <figure class="logo">
                    <img class="orbit-image tns-lazy-img" src="{{ 'img/Dock18_New_Website.png' | relative_url }}"
                         alt="logo">
                </figure>
                <figure class="claim" style="    width: 15vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;">
                    <img class="orbit-image tns-lazy-img"
                         src="{{ 'img/Dock18_New_Website_ColdBrew.png' | relative_url }}"
                         alt="claim">
                </figure>
            </div>
            <div style="
    margin-left: auto;
    margin-right: auto;">
                <p style="margin: 2em 0 0 0;">EINZIGARTIG CREMIGER KAFFEEGENUSS AUS DER DOSE</p>
                <span style="font-size: small;
    letter-spacing: initial;">ERFAHRE MEHR</span>
                <div id="more_button"><img style="padding-top:.5em;height: 4em;cursor: pointer;" src="{{ 'img/Anchor.svg' | relative_url }}"
                          alt="logo">
                </div>
            </div>
        </div>
    </section>
</div>