<div id="page-wrapper">
    <section id="logo-banner">
        <div class="inner">
            <div class="logo-banner-inner">
                <figure class="logo">
                    <img class="orbit-image tns-lazy-img"
                         src="{{ site.cloudinary_url | append: '/c_pad,h_600,q_auto' | append: page.logo }}"
                         alt="logo">
                </figure>
            </div>
            <figure class="claim">
                <div class="row gtr-50 gtr-uniform">
                    <div class="col-6" id="claim_coffee">
                        <img class="orbit-image tns-lazy-img"
                             src="{{ site.cloudinary_url | append: '/c_pad,h_500,q_auto' | append: page.claim }}"
                             alt="claim">
                    </div>
                    <div class="col-6" id="claim_tee">
                        <img class="orbit-image tns-lazy-img"
                             src="{{ site.cloudinary_url | append: '/c_pad,h_500,q_auto' | append: page.claim2 }}"
                             alt="claim2">
                    </div>
                </div>
            </figure>
            <div class="intro-text-wrapper">
                <p class="intro-paragraph">{{ page.intro_text }}</p>

                <div id="more_button" style="margin-top:4em;" class="bounce">
                    <span class="more-anchor-text">{{ page.more_button }}</span> <br>
                    <img class="more-anchor" src="{{ 'img/Anchor.svg' | relative_url }}"
                         alt="logo">
                </div>
            </div>
        </div>
    </section>
</div>