<section id="product-list">
    <h2 class="product-list-headline" id="product-list-headline"></h2>
    <div class="product-list-wrapper">
        {% for product in site.products %}

        {% if product.productlink %}
        <a href="{{ product.url }}">
        {% endif %}
        <figure class="product" data-aos="fade-up"
                data-aos-offset="50"
                data-aos-delay="0"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
                data-aos-mirror="false"
                data-aos-once="false"
                data-aos-anchor-placement="top-center">
            <h3 class="product-type" style="margin-bottom: 0.1em">{{ product.type }}</h3>
            <div class="product-list-item-wrapper" style="background-color:{{ product.productcolor }}">
                <img class="product-list-item orbit-image tns-lazy-img" src="{{ site.cloudinary_url | append: '/c_pad,h_400,q_auto' | append: product.productimage }}"
                     alt="{{ banner.alt }}">

            </div>
            {% if product.producttext %}
            <div class="not-mobile orbit-caption">
                <h3>{{ product.producttext }}</h3>
            </div>
            {% endif %}
            <div class="mobile-product-item">
                {{ product.producttext }}
            </div>
        </figure>

        {% if product.productlink %}
        </a>
        {% endif %}
        {% endfor %}
    </div>
</section>