<section id="product-list">
    <h2 class="product-list-headline" id="product-list-headline"></h2>
    <div class="product-list-wrapper">
        {% for product in site.products %}
        <figure class="product" data-aos="fade-up"
                data-aos-offset="200"
                data-aos-delay="10"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
                data-aos-mirror="false"
                data-aos-once="false"
                data-aos-anchor-placement="top-center">
            <div class="product-list-item-wrapper">
                <img class="product-list-item orbit-image tns-lazy-img" src="{{ product.productimage | relative_url }}"
                     alt="{{ banner.alt }}">
                {% if product.producttext %}
                <figcaption class="not-mobile orbit-caption">
                    <h3>{{ product.producttext }}</h3>
                    <div>
                        <a href="{{ product.productlink | relative_url}}">{{ product.productlinktext}}</a>
                    </div>
                </figcaption>
                {% endif %}
            </div>
            <div class="mobile-product-item">
                {{ product.producttext }}
                <div>
                    <a href="{{ product.productlink | relative_url}}">{{ product.productlinktext}}</a>
                </div>
            </div>
        </figure>
        {% endfor %}
    </div>
</section>